@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('./null.css');

body {
    background-color: rgb(43, 40, 39);
    font-family: 'Open Sans', sans-serif;
}

.app-wrapper {

    display: grid;

    grid-template: [start] "header header" 0.5fr [row2]
    [row2]"menu banner"[row3]
    [row3] "menu content" 1fr [row4]
    [row4] "footer footer" 0.5fr [row-end] / 150px 1fr;

    max-width: 1200px;
    margin: 0 auto;
}

.header {
    border-radius: 5px;
    grid-area: header;
    margin-top: 10px;
    background-color: rgb(97, 97, 97);
    &__header-row {
        
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        padding: 10px;
    }

    &__logo img {
        max-width: 70px;
    }

    &__logo img:hover {
        transition: 0.5s;
         box-shadow: 0px 0px 50px red;
    }

    &__navigation-bar {
        display: flex;
    }

    &__item {
        padding: 30px 20px;
        margin: auto 0;
    }
    &__adress {
        color: white;
        border-radius: 5px;
        padding: 10px 20px;
        background-color: rgb(219, 23, 23);
    }

    &__adress:hover {
        color: #000;
        background-color: #fff;
        box-shadow: 0px 0px 50px red;
        transition: 0.3s;

    }

    &__title {
        font-size: 30px;
        margin: auto 0;
        border: 2px solid black;
        padding: 20px;
    }
}



.Navigation {

    margin-top: 20px;
    max-width: 120px;
    padding: 5px 5px 0px 5px;
    border-radius: 5px;
    background-color: rgb(97, 97, 97);
    &__item {
        border-radius: 5px;
        margin: 0px 0px 10px 0px;
        padding: 10px;
        background-color: rgb(219, 23, 23);
        text-align: center;
        color: #fff;
    }

    &__adress {
        color: #000;
    }

    &__item:hover {
        transition: 0.3s;
        background-color: #fff;
        box-shadow: 0px 0px 50px red;
        color: #000;
    }
}
.banner img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner img:hover{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.banner {
    margin-top: 20px;
    grid-area: banner;
    max-height: 210px;
}

.content-bar {
    display: grid;
    border-radius: 10px;
    grid-area: content;
    grid-template: [start] "avatar nickname" [row2]
    [row2] "avatar message" [row-end] / 100px 1fr;
    background-color: rgb(97, 97, 97);

    &__avatar {
        grid-area: avatar;
        padding: 10px;
        max-width: 100px;
        border-radius: 50%;
    }

    &__nickname {
        font-weight: bold;
        grid-area: nickname;
        display: inline-block;
        max-width: 100px;
        text-align: center;
        padding: 5px 0px 0px 0px;
        
    }

    &__nickname a {
        color: #fff;
    }

    

    &__message {
        grid-area: message;
        background-color: rgb(194, 194, 194);
        padding: 5px;
        margin: 0px 5px 5px 0px;
        border-radius: 10px;
    }
}

.footer {
    grid-area: footer;

    & p{
        text-align: end;
    }
}



